.movie-card {
	margin-top: 20px;
	padding: 20px 0 50px 0;
	min-height: 322px;
}

.movie-image {
	width: 100%;
	height: auto;
}

.movie-image img {
	width: 100%;
	height: auto;
}

.movie-description {
	margin-top: 10px;
	margin-left: 15px;
}

.movie-description h3 {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: -0.015em;
	color: #fff;
}

.movie-description h4 {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -0.015em;
	color: #ffc700;
}

.movie-description p {
	color: #fff;
	font-size: 14px;
	letter-spacing: -0.015em;
}


@media (min-width: 576px) {
	.movie-card {
		margin-top: 20px;
		padding: 26px 0 34px 0;
	}
}

@media (min-width: 768px) {
	.movie-card {
		margin-top: 40px;
		padding: 20px 0 58px 0;
		min-height: 364px;
	}

	.movie-image {
		margin-bottom: 14px;
	}
}

@media (min-width: 992px) {
	.movie-card {
		margin-top: 40px;
		padding: 20px 0 58px 0;
		min-height: 457px;
	}

	.movie-image {
		margin-bottom: 21px;
	}
}

@media (min-width: 1200px) {
	.movie-card {
		padding: 26px 0 34px 0;
		min-height: 322px;
	}

	.movie-image {
		margin-bottom: 10px;
	}
}
